@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 500px;
    margin-bottom: 150px;
}

 h1{
    font-size: 50px;
    margin-top: 35px;
    font-weight: 500;
}
h2{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: 400;
}
 h3 {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 20px;
}
 p {
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 25px;
    color:#585f63;
    margin-bottom: 20px;
}
.link_anchor {
    color:white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(45deg, lightsalmon, tomato);
}
span{
    color:orangered;
}
#top_banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half_width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
}


.half_width img{
    width:100%;
}
.top_corner{
    margin-top:50px;
}
#dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* .experience2div{

} */
#experiences_area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

section.experience-area h2 {
    text-align: center;
}